ion-content {
    ion-text {
        display: flex;
        justify-content: center;
        color: rgb(95, 90, 90);
        h3 {
            margin: 0 0 10px 0;
            font-style: italic;
        }
    }
    ion-button {
        margin-top: 10px;
    }

    ion-list {
        margin: 10px 10px 15px;
        .container {
            display: flex;
            justify-content: space-between;
            h2 {
                color: rgb(95, 90, 90);
                font-weight: 600;
                align-self: center;
                font-style: normal;
            }
            p {
                color: red;
                font-weight: 600;
                align-self: center;
            }
        }
    }
}

