<ion-header>
  <ion-toolbar>
    <ion-title>
      Not Todo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary">
    <h1>Because productivity is overrated.</h1>
  </ion-text>
  <ion-button (click)="openModal()">
    Add NOT Todo
    <ion-icon slot="end" name="add-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>Fails: {{ item.failCount }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
